# Database
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Backups
*.tar
*.tar.gz
backups/

# Logs
*.log
*.log.*
*.lock

# Runtime caches / generated data
.cache/
tts/
image/
deps/
__pycache__/
zigbee2mqtt/log/
zigbee2mqtt/database.db*
zigbee2mqtt/state.json
skoleskema.json

# Media
/media/*
www/*.mp4
www/*.jpg

# Sensitive files & folders
secrets.yaml
.storage/
.cloud/
nest/
zigbee2mqtt/coordinator_backup.json

custom_components/nordnet_multi/
