# Ignore the database
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Ignore backup snapshots
*.tar
*.tar.gz

# Ignore log files
*.log
skoleskema.json


# Ignore media
/media/*
www/*.mp4
www/*.jpghome-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal


# Sensitive files & folders
secrets.yaml
.storage/
